h1 {
  color: #ffa725;
  font-family: cursive;
}
p {
  color: #c1d8c3;
  font-family: monospace;
}

.btn {
  text-decoration: none;
  margin: 100px;
  background-color: #fff5e4;
  padding: 6px;
  border-radius: 0.5rem;
  color: #000;
}
.btn:hover {
  color: #ffa725;
  background-color: #c1d8c3;
}
form {
  padding: 30px;
}
input[type] {
  width: 95%;
  margin: 15px;
  padding: 20px;
}
input[placeholder] {
  font-weight: 900;
  font-size: 16px;
}
button[type="submit"] {
  display: block;
  margin: auto;
  padding: 20px;
  color: #ffa725;
  background-color: #c1d8c3;
  border: none;
  border-radius: 0.5rem;
}
button[type="submit"]:hover {
  background-color: #fff5e4;
}

@media (min-width: 376px) and (max-width: 768px) {
  .btn {
    margin: 10px;
    background-color: #fff5e4;
    padding: 2px;
    width: 30%;

    display: block;
  }
}

@media (max-width: 375px) {
  .btn {
    margin: 10px;
    background-color: #fff5e4;
    padding: 2px;
    width: 40%;

    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .btn {
    /* margin: 10px;
    background-color: #fff5e4;
    padding: 2px;
    width: 40%;

    display: block; */
    white-space: nowrap;
    /* margin: 80px; */
  }
}
